services:

  pihole_sqlite_exporter:
    build:
      context: ..
      dockerfile: docker/Dockerfile.alpine
    container_name: pihole_sqlite_exporter
    restart: unless-stopped
    environment:
      HOSTNAME_LABEL: "host.docker.internal"
      EXPORTER_TZ: "Europe/Amsterdam"
      FTL_DB_PATH: "/etc/pihole/pihole-FTL.db"
      GRAVITY_DB_PATH: "/etc/pihole/gravity.db"
      LISTEN_ADDR: "0.0.0.0"
      LISTEN_PORT: "9617"
      TOP_N: "10"
      # DEBUG: "true"   # alternatief voor --verbose
    volumes:
      - /volume1/containers/pihole/etc-pihole:/etc/pihole:ro
    ports:
      - "9617:9617"